@import '../abstract/_variaveis'
.container
    position: relative
    z-index: 2
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    .container__toggle
        width: 70px
        height: 25px
        border-radius: 20px
        appearance: none
        background-color: #FC6736
        position: relative
        cursor: pointer
        margin: 1.5em 0
        box-shadow: 0 2px 5px 2px black
        &::before
            content: ''
            width: 30px
            height: 30px
            border-radius: 100%
            background-color: #0C2D57
            position: absolute
            top: -15%
            left: 0
            scale: 1.2
            transition: .6s
            background-image: url('../imgs/seta.png')
            background-position: center
            background-repeat: no-repeat
            background-size: 60%
            rotate: 235deg
        &:checked
            &::before
                left: calc( 100% - 30px )
                rotate: -45deg
    .container__login
        display: flex
        color: white
        column-gap: 1.5em
        span
            font-size: 1.8em
            font-family: $fonte-principal
            text-shadow: 2px 2px 3px black
    .container__box
        position: relative
        background: transparent
        perspective: 300px
        .container__box__content
            background: transparent
            width: 280px
            height: 310px
            transform-style: preserve-3d
            transition: transform 600ms ease-in-out
            box-shadow: 0 2px 3px 5px black
            @media screen and (min-width: 768px)
                width: 350px
                height: 360px
            .box__front
                backdrop-filter: blur(10px)
                background-size: cover
                position: absolute
                width: 100%
                height: 100%
                backface-visibility: hidden
                padding: 1em
                font-family: $fonte-secundaria
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                h2
                    text-align: center
                    font-size: 1.8em
                    font-weight: 300
                    text-shadow: 2px 2px 4px black
                    @media screen and (min-width: 768px)
                        font-size: 2.2em
                input
                    height: 28px
                    font-size: .8em
                    width: 100%
                    border-radius: 8px
                    margin-top: 1.2em
                    padding-left: .5em
                    @media screen and (min-width: 768px)
                        height: 40px
                        font-size: 1.1em
                .input__email
                    &::placeholder
                        background-image: url('../imgs/@.svg')
                        background-size: 15px
                        background-repeat: no-repeat
                        padding-left: 1.8em
                        background-position-y: center
                        background-position-x: 5px
                .input__password
                    &::placeholder
                        background-image: url('../imgs/cadeado.png')
                        background-size: 15px
                        background-repeat: no-repeat
                        padding-left: 1.8em
                        background-position-y: center
                        background-position-x: 5px
                .button
                    position: relative
                    display: inline-block
                    margin: 20px
                    width: 250px
                    margin-bottom: 2.5em
                    @media screen and (min-width: 768px)
                        width: 310px
                    &::after
                        content: ""
                        height: 100%
                        width: 100%
                        padding: 4px
                        position: absolute
                        bottom: -15px
                        left: -4px
                        z-index: -1
                        background-color: #2B1800
                        -webkit-border-radius: 5px
                        -moz-border-radius: 5px
                        border-radius: 5px
                    a
                        color: white
                        font-family: Helvetica, sans-serif
                        font-weight: bold
                        font-size: 1.2em
                        text-align: center
                        text-decoration: none
                        background-color: #FFA12B
                        display: block
                        position: relative
                        padding: 10px 20px
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
                        text-shadow: 0px 1px 0px #000
                        filter: dropshadow(color=#000, offx=0px, offy=1px)
                        -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100
                        -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100
                        box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100
                        -webkit-border-radius: 5px
                        -moz-border-radius: 5px
                        border-radius: 5px
                        &:active
                            top: 10px
                            background-color: #F78900
                            -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100
                            -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100
                            box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100
                a
                    text-decoration: none
                    color: white
                    text-shadow: 2px 2px 3px black
                    @media screen and (min-width: 768px)
                        font-size: 1.2em
            .box__back
                position: absolute
                width: 100%
                height: 100%
                backface-visibility: hidden
                transform: rotateY(180deg)
                padding: 1em
                font-family: $fonte-secundaria
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                backdrop-filter: blur(10px)
                h2
                    text-align: center
                    font-weight: 300
                    text-shadow: 2px 2px 4px black
                    @media screen and (min-width: 768px)
                        font-size: 2.2em
                input
                    height: 28px
                    font-size: .8em
                    width: 100%
                    border-radius: 8px
                    margin-top: .8em
                    padding-left: .5em
                    @media screen and (min-width: 768px)
                        height: 35px
                        font-size: 1.1em
                    &::placeholder
                        background-image: url('../imgs/cadeado.png')
                        background-size: 15px
                        background-repeat: no-repeat
                        padding-left: 1.8em
                        background-position-y: center
                        background-position-x: 5px
                .button
                    position: relative
                    display: inline-block
                    margin: 20px
                    width: 250px
                    @media screen and (min-width: 768px)
                        width: 310px
                    &::after
                        content: ""
                        height: 100%
                        width: 100%
                        padding: 4px
                        position: absolute
                        bottom: -15px
                        left: -4px
                        z-index: -1
                        background-color: #2B1800
                        -webkit-border-radius: 5px
                        -moz-border-radius: 5px
                        border-radius: 5px
                    a
                        color: white
                        font-family: Helvetica, sans-serif
                        font-weight: bold
                        font-size: 1.2em
                        text-align: center
                        text-decoration: none
                        background-color: #FFA12B
                        display: block
                        position: relative
                        padding: 10px 20px
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
                        text-shadow: 0px 1px 0px #000
                        filter: dropshadow(color=#000, offx=0px, offy=1px)
                        -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100
                        -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100
                        box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100
                        -webkit-border-radius: 5px
                        -moz-border-radius: 5px
                        border-radius: 5px
                        &:active
                            top: 10px
                            background-color: #F78900
                            -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100
                            -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100
                            box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100
